<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pong Game</title>
</head>
<body>
  <div>
    <div id="monitor_3d"></div>
    <div style="display: flex">
      <div id="monitor_debug"></div>
      <div id="monitor_2d"></div>
    </div>
  </div>
  <div id="console">
    <div id="buttons">
      <button id="reset_btn" class="btn-primary">Reset</button>
    </div>
    <div id="message"></div>
  </div>
<script type="text/javascript" src="scripts/game.bundle.js"></script></body>
</html>
